body {
  margin: 0;
  background-color: #f8f9fa;
}

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-light {
  background-color: #f7fafc !important;
}

img {
  border-radius: 8px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-control {
  border-radius: 6px;
  border: 2px solid #ced4da; /* Softer, lighter border color */
}

.custom-input {
  border: 2px solid #ced4da !important; /* Softer, lighter border color */
}

.form-outline label {
  font-weight: 500;
  color: #6c757d;
}

.shadow-sm {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.text-muted {
  font-size: 13px;
}

.input-group button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.input-group button svg {
  font-size: 20px;
  color: #007bff;
}

.text-danger {
  font-size: 14px;
}
